* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(195, 195, 195);
}

.todo-container {
  /* display: flex; */
  text-align: center;
  width: 350px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
}

.todo-container_header {
  margin: 20px;
}

.todo-container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-container_input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.todo-container_button {
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(1, 147, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-container_button:hover {
  background-color: rgb(3, 181, 3);
}

.render-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.render-container_section {
  width: 100%;
}

.render-container_title {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.render-container_item {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: rgb(249, 246, 246);
  border-radius: 5px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.render-container_button {
  color: white;
  background-color: rgb(246, 79, 79);
  padding: 6px;
  width: 40px;
  border: none;
  border-radius: 5px;
}
