* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 248, 252);
}

.todo_container {
  margin: 80px 0;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  min-width: 320px;
  width: auto;
  height: auto;
}

.todo_header {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#todo_form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.todo_input {
  width: 220px;
  border: 1px solid rgb(158, 157, 157);
  padding: 6px;
  border-radius: 5px;
}

.add_btn {
  font-size: 12px;
  scale: 110%;
  padding: 5px;
  color: white;
  background-color: rgb(3, 166, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}
.add_btn:hover {
  background-color: rgb(3, 105, 3);
}

.render {
  margin: 20px 5px;
  display: flex;
  justify-content: space-evenly;
}

.render_section1,
.render_section2 {
  width: 150px;
  height: auto;
}

.render_title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.rander_do,
.rander_done {
  margin-block: 7px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.do_list,
.done_list {
  /* display: flex;
  margin: 0 auto; */
  list-style-type: none;
}
#do_list,
#done_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
  /* border: 1px solid gray; */
}

.do_list:empty,
.done_list:empty {
  display: none;
}

.comple_button {
  color: white;
  width: 35px;
  height: 25px;
  font-size: 12px;
  /* background-color: rgb(3, 166, 3); */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.comple_button:hover {
  background-color: rgb(3, 105, 3);
}

.delete_button {
  color: white;
  width: 35px;
  height: 25px;
  font-size: 12px;
  /* background-color: rgb(255, 37, 37); */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 마우스 커서 포인터 배경색 변경 */
}
.delete_button:hover {
  background-color: rgb(181, 13, 13);
}
